#onlyMonsterOverlayRoot {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;

  pointer-events: none;
  background-color: transparent;
  z-index: 99998;
}
